.idea/
*.iml
*.ipr
*.iws
out/

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

run/
logs/
eclipse/
server/
temp/

.DS_Store
Thumbs.db

libs/
node_modules/
vendor/

*.log

*.tmp
*.swp